@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter var - latin */
  .layout {
    /* 750px */
    max-width: 43.75rem;

    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FE7A00;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F95340;
  }
  
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #FE7A00, #F87700);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
  }
  .animated-underline:hover,
  .animated-underline:focus {
    background-size: 0 2px, 100% 2px;
  }
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollbar-h::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }


  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #F7F7F7;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #FE7A00;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #F95340;
  }
  
}
